.img-top{
    width: 300px;
}
header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
    
}
#f{
    color: rgb(90, 210, 170);
}
nav ul{
    

    display: flex;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
}
nav ul li{
    margin-left: 20px;
    list-style-type:none
}
nav ul li a:hover{
    color: rgb(93, 206, 168);
}
.img-centre{
 
    margin: 40px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ecrit{
    font-size: 30px;
    margin: 10px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
     color: rgb(81, 185, 150);
}
.paragraphe{
display: flex;
margin-left: 10%;
margin-right: 10%;


}
 div p{
   font-family:  Roboto,Arial,sans-serif;
   
   margin-top: 0px;
    color: rgb(130, 129, 129);
    padding: 10px;
}
.block2{

    display: flex;
    margin-left: 10%;
margin-right: 10%; justify-content: space-between;
}
select:hover{
    cursor: pointer;
}
#green{
    width: 32%;
    height: 350px;
    background-color: rgb(74, 224, 174);
    border-radius: 20px;
}
#green:hover{
    opacity: 0.8;
}
#blue{
    width: 32%;
    height: 350px;
    background-color: rgb(11, 116, 215);
    border-radius: 20px;
   
}
#blue:hover{
    opacity: 0.8;
}
#black{
    width: 32%;
    height: 350px;
    background-color: rgb(32, 29, 37);
    border-radius: 20px;
}
#black:hover{
    opacity: 0.8;
}
h1{
    font-size: 1.625em;
    font-weight: bold;
    color: #fff;
   
    font-family: Work Sans,Arial,sans-serif;
}
h2{  font-family: Work Sans,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
.green-block{

    margin: 30px;
    display: block;
}
.blue-block{
    margin: 30px;
    display: block;
}
.black-block{
    margin: 30px;
    display: block;
}
select{
    margin-top: 70px;
    background-color: transparent;
    border-color:transparent ;
    font-size: 1.3em;
    text-decoration:underline;
    color: #fff;
}
option{
    
}
#two{margin-top:20px ;

}
#one{
    margin-top:20px ;
}
.block3{
display: flex;
justify-items: center;
justify-content: center;
height: 200PX;
}
#h1{
    margin-top: 40px;
    width: 20%;
padding-left: 0px;
}
#h1-right{
    
    color: rgb(80, 199, 159);
    font-family: Work Sans,Arial,sans-serif;
  width: 180px;
  height: 200px;
    font-weight: 5em;
    float: left;
   
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;

}
.grid-links{
    line-height: 1.3;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 0;
    list-style: none;
    width: 67%;

}
ul li a svg:hover{
fill: rgb(85, 203, 164);
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul li a svg{fill:rgb(155, 157, 158)

}
ul li img{
    width: 100px;
color:grey ;
filter: grayscale(100%); 
}
ul li img:hover{
filter: none;
}
.stats{
background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
display: flex;
justify-content: space-evenly;

}
    
.h1-section{
    color: rgb(96, 210, 172);
}
.div-section{
    margin-right: 10px;
background-color: #fdfdfd;
width: 200px;
height: 250px;
display: block;
padding: 20px;
}
.imgs-section{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;

}
.centre2{
display: block;


}
.h1-section2{
display: flex;
align-items: center;
justify-content: center;
color: rgb(97, 208, 171);
}
.p-section2{
display: flex;
align-items: center;
justify-content: center;
margin-left: 370px;
margin-right: 370px;
font-size: 14px;
line-height: 1.7142857143;
text-align: center;
font-family: Roboto,Arial,sans-serif;
}
.img-section2
{display: flex;
    justify-content: center;
    align-items: center;
}
.h1-section-stats{
color: rgb(72, 172, 138);
padding-left: 0px;
margin-top: 100px;
line-height: 1.6;
font-size: 30px;
font-weight: bold;
}
.office__desc{
    display: flex;
    justify-content:space-around;
    color: #929090;
    font-family: Roboto,Arial,sans-serif;
}
.pic1{
width: fit-content;


}
.pic1:hover{
    box-shadow: 100px black;
}
.divs{

    display: flex;

flex-wrap: wrap;
margin-right: 70px;
margin-left: 70px;


}

span{
    opacity: 0.7;
background-color: rgb(12, 12, 186);
color: #e5faf8;
padding: 10px;
border-radius: 10px;
}
span:hover{
    opacity: 0.9;
}
div a {
    text-decoration: none;
}
#footer-h1{
   display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.p-centre{
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 500px;
margin-right: 510px;
text-align: center;
}
footer{
padding: 100px;
    background-color: rgb(255, 251, 251);
  
}
footer p{
    font-size: 12px;
    color: #ababab;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: blue;
}
footer p a:hover{
    text-decoration: underline;

}
.grid-links ul{
    display: flex;
    flex-wrap: wrap;
   
}
.grid-links ul li{
    line-height: 2px;
    margin: 10px;
}
.statu{

display: block;
width: 300px;

}
.p-section{
    align-items: center;
  
}
.picture2{

display: flex;
margin-top: 40px;
justify-content: space-between;


}
.section1{

display: flex;
flex-wrap: wrap;
justify-content: space-around;

}
.h2{
    margin-bottom: 40px;
}
.b3{
margin-top: 30px;
   
}
.b4{
    margin-top: 30px;
}
